@font-face {
    font-family: Zizou Slab-Bold_1;
    src: url('../fonts/Zizou/Zizou Slab-Bold_1.otf');
}
@font-face {
    font-family: Zizou Slab-Regular;
    src: url('../fonts/Zizou/Zizou Slab-Regular_2.otf');
}
/**---- Typografy ----**/
@font-face {
    font-family: Arcon Regular;
    src: url('../fonts/Arcon/Arcon-Regular.otf');
}
@font-face {
    font-family: Arcon Rounded;
    src: url('../fonts/Arcon/Arcon-Rounded-Regular.otf');
}
h1,h2,h3,h4{
    color: #3e5a72;
    font-family: Zizou Slab-Bold_1
}

@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 375px) and (max-width: 667px) {

}
@media (min-width: 200px) and (max-width: 375px) {

}

	/* Fixed header and footer.
	* --------------------------------------- */
#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
}
#header{
	top:0px;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu {
	bottom: 80px;
}
#infoMenu li a {
	color: #fff;
	z-index: 999;
}


/** Bootstrap **/

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}




/*---------------NAV WEB--------------*/
.nav-web{
    background-color: #08c7da;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.nav-web-logo{
    padding-left: 79px;
    padding-top: 30px;
    padding-bottom: 22px;
}
.nav-web-giff{
    padding-top: 15px;
}



.nav-web-navigator {
    padding-top: 30px;
}
.nav-web-navigator li{
    display: inline;
    padding-right: 50px;
}
.nav-web-navigator a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Arcon Regular";
    text-transform: uppercase;
}




/** Problem **/
#slide1 {
    background-image: url('../images/newVersion/BACKGROUND_slide1.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#slide2 {
    background-image: url('../images/newVersion/background_slide_2.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#section1{
    background-image: url('../images/newVersion/background-2.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#section2{
    background-image: url('../images/newVersion/background_3.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
.problem {
    position: relative;
}
.problem-left{
    position: absolute;
    left: 15px;
    top: -250px;
    z-index: 2;
}
.problem-left img{
    width: 90%;
    height: auto;
}
.problem-right{
    text-align: right;
    position: absolute;
    right: 84px;
    top: -125px;
    z-index: 2;
}
.problem-right h1{
    font-size: 60px;
}
.problem-right button{
    margin-top: 100px;
    color: white;
}

.problem-2 {
    position: relative;
}
.problem-2-left{
    position: absolute;
    text-align: center;
    top: -100px;
    padding-left: 100px;
}
.problem-2-left h1 {
    font-size: 70px;
}
.problem-2-left h2 {
    font-size: 94px;
}


.problem-2-right{
    text-align: right;
    position: absolute;
    right: 40px;
    top: -260px;
    z-index: 2;
}
.problem-2-right img{
    width: 90%;
    height: auto;
}

/** Function */

.function {
    position: relative;
}
.function-left-top{
    position: absolute;
    left: 450px;
    top: -80px;
}
.left-top-1{
    position: absolute;
    top: -50px;
    right: 45%;
}

.function-left-bottom{
    position: absolute;
    left: 400px;
    top: 120px;
}
.left-top-2{
    position: absolute;
    top: -20px;
    right: -10px;
}

.function-image-center{
    position: absolute;
    top: -200px;
    z-index: -1;
}
.function-right-top{
    position: absolute;
    right: 560px;
    top: -150px;
}
.left-top-3{
    position: absolute;
    top: -50px;
    right: 25px;
}

.function-right-bottom{
    position: absolute;
    right: 630px;
    top: 160px;
}
.left-top-4{
    position: absolute;
    top: -40px;
    right: -10px;
}


.function-image-center img{
    width: 80%;
}
.function img{
    width: 80%;
}
.function h5{
    font-family: "Arcon Regular";
    font-size: 10px;
    color: #3e5a72;
}
.left-top-button{
    position: absolute;
    top: -40px;
    left: -150px;
}
.left-top-button-mas{
    position: absolute;
    text-align: start;
    top: 40px;
    width: 400px;
}
.function h2{
    font-size: 13px;
    font-family: "Arcon Regular";
}

.left-bottom-button{
    position: absolute;
    top: 35px;
    right: -70px;
}
.right-top-button{
    position: absolute;
    left: 25px;
}
.right-top-button-mas{
    position: absolute;
}

.right-button-bottom{
    position: absolute;
    top: 0;
    right: -100px;
}
.right-button-bottom-mas{
    position: absolute;
    top: 40px;
    width: 400px;
}

.left-bottom-button-mas{
    position: absolute;
    width: 400px;
    top: 40px;
}
.function-title{
    text-align: right;
    position: absolute;
    top: -200px;
    right: 150px;
}
.function-title h1 {
    font-size: 46px;
}
.function-title h2 {
    font-size: 62px;
}
.function p{
    font-family: "Zizou Slab-Regular";
    font-size: 18px;
    color: #3e5a72;
}



/** doctorPhone **/

.doctorPhone{
    position: relative;
}
.doctorPhone-image{
    position: absolute;
    top: -200px;
    z-index: -1;
}
.doctorPhone-1{
    position: absolute;
    top: -185px;
    left: 500px;
}
.doctorPhone-1 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-1-content{
    position: absolute;
    top: -150px;
    right: 375px;
}
.doctorPhone-1-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-1-content h3{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
}
.doctorPhone-2 {
    position: absolute;
    top: -60px;
    left: 625px;
}
.doctorPhone-2 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-2-content{
    position: absolute;
    top: -30px;
    right: 300px;
}
.doctorPhone-2-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-2-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}

.doctorPhone-3 {
    position: absolute;
    top: 70px;
    right: 750px;
}
.doctorPhone-3 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-3-content{
    position: absolute;
    top: 100px;
    right: 275px;
}
.doctorPhone-3-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-3-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}

.doctorPhone-4 {
    position: absolute;
    top: 180px;
    right: 600px;
}
.doctorPhone-4 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-4-content{
    position: absolute;
    top: 200px;
    right: 150px;
}
.doctorPhone-4-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-4-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}
.doctorPhone-title{
    position: absolute;
    right: 80px;
    text-align: right;
    top: -250px;
}
.doctorPhone-title h1{
    font-size: 46px;
    margin-right: 20px;
    bottom: 0;
}
.doctorPhone-title h2{
    font-size: 62px;
    top: 0;
}


/** Contact **/
.contact-info{
    text-align: start;
}
.contact-info h1{
    font-size: 25px;
    font-family: "Arcon Regular";
    color: #FFFFFF;
}
.contact-info h2{
    font-size: 15px;
    font-family: "Arcon Regular";
    color: #FFFFFF;
}
.menu-contact-1{
    text-align: left;
    padding-left: 20%;
}
.menu-contact-2{
    text-align: left;
    padding-left: 20%;
}
.menu-contact-3{
    text-align: left;
    padding-left: 20%;
}




/** Styles **/
h5{
    font-family: "Arcon Regular";
    color: #ffffff;
}






/**
.problem-button{
	padding-top: 5%

}
.problem-button h3{
	font-family: Arcon Regular
}
.problem-second{
    display: flex;
    text-align: center;
    padding-top: 5%;
}

.problem-second-left{
    position: relative;
    text-align: center;
    padding-top: 10%;
    padding-left: 100px;
}
.problem-second-title{

}

.problem-second-title {
    font-size: 80px;
}
.problem-second-title2{
    font-size: 104px;
}
**/







/** Function **/
.function{
	display: flex;
	justify-content: center;
	align-items: center;
}
.function-left{
	padding-top: 18%;
}
.function-right{
	padding-top: 8%;
}
.function-right h1{
	font-size: 79px
}


/** Start Now **/
.request{
    display: flex;
    align-items: center;
    padding-top: 7%;
}
.request-title{
    text-align: center;
}

.input-form{
    border-bottom: 1px solid #3e5a72;
    padding-top: 3%;
}
.input-select{
    padding-top: 3%;
}
.input-form-problem{
    padding-top: 20px;
}
.input-form-problem select{
	width: auto;
    font-weight: lighter;
}
.problem-phone{
	padding-left: 0px;
	margin-left: 0px;
}
#name,#lastname,#country,#city,#address,#marca,#model,#problem,#dni,#phone,#email{
    color: #08c7da;
    font-size: 24px;
    font-weight: lighter;
}
.btn-send {
	padding-top: 25px;
}
.btn-send h3{
}
.form-control::placeholder{
    color: #08c7da;
}
.request button{
	width: 200px;
    color: #FFFFFF;
}
.request h3{
    color: #FFFFFF;
    font-family: "Arcon Regular";
}

@media (min-width: 768px) and (max-width: 1024px){
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 200px) and (max-width: 481px) {
    .request{
        padding-top: 35%
    }
    .request h1{
        font-size: 200%;
    }
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: center;
    }
    .request img{
        display: none;
    }
    .input-form{
        padding-top: 5px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .request select{
        width: 125px;
    }
    .request textarea{
        font-family: "Arcon Regular";
        color: #00607c;
        padding-left: 10px
    }
    .input-form-problem{
        border-bottom: 0px solid #3e5a72;
        padding-left: 0px
    }
}

select {
    color: #3e5a72;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
    width: 150px;
    text-align: left;
    border: none;
}
textarea{
    border: none;
    color: #3e5a72
}
.request input{
    border: none;
    color: red;
}


/** Finish Start Now **/


/** Contact **/
.contact-info{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #08c7da;
}
.menu-contact div {
    padding-bottom: 2px;
}
.border-contact {
    border-right: 1px solid #FFFFFF;
    margin-top: 50px;
    height: 80px;
}




.btn{
    background-color: #08c7da;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
	height: 70px;
    vertical-align: middle;
}
.btn h2{
	color: white;
    font-family: "Arcon Regular";
    font-size: 25px;
}
.btn-details{
    width: 92px;
    height: 27px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #3e5a72;
    background-color: transparent;
    padding-top: 7px;
    cursor: pointer;
}
.contact-map{
    padding-top: 90px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
br {
    margin: 0;
}