@font-face {
    font-family: Zizou Slab-Bold_1;
    src: url('../fonts/Zizou/Zizou Slab-Bold_1.otf');
}
@font-face {
    font-family: Zizou Slab-Regular;
    src: url('../fonts/Zizou/Zizou Slab-Regular_2.otf');
}
/**---- Typografy ----**/
@font-face {
    font-family: Arcon Regular;
    src: url('../fonts/Arcon/Arcon-Regular.otf');
}
@font-face {
    font-family: Arcon Rounded;
    src: url('../fonts/Arcon/Arcon-Rounded-Regular.otf');
}
h1,h2,h3,h4{
    color: #3e5a72;
    font-family: Zizou Slab-Bold_1
}

@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 375px) and (max-width: 667px) {

}
@media (min-width: 200px) and (max-width: 375px) {

}

	/* Fixed header and footer.
	* --------------------------------------- */
#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
}
#header{
	top:0px;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu {
	bottom: 80px;
}
#infoMenu li a {
	color: #fff;
	z-index: 999;
}


/** Bootstrap **/

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}




/*---------------NAV WEB--------------*/
.nav-web{
    background-color: #08c7da;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.nav-web-logo{
    padding-left: 79px;
    padding-top: 30px;
    padding-bottom: 22px;
}
.nav-web-giff{
    padding-top: 15px;
}
.nav-web-navigator {
    padding-top: 30px;
}
.nav-web-navigator li{
    display: inline;
    padding-right: 50px;
}
.nav-web-navigator a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Arcon Regular";
    text-transform: uppercase;
}
.nav-mobil{
    display: none;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .nav-web-navigator {
        display: inline-block;
        position: absolute;
        right: 0;
    }
    .nav-web-navigator li{
        display: inline-block;
        padding-right: 20px;
    }
    .nav-web-navigator ul{
        display: table-footer-group;
    }
    .nav-web-giff{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-web-navigator{
        display: none;
    }
    .nav-mobil{
        display: block;
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .nav-mobil i{
        font-size: 50px;
        color: #FFFFFF;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

}
@media (min-width: 320px) and (max-width: 480px) {

}


/** Problem **/
#slide1 {
    background-image: url('../images/newVersion/BACKGROUND_slide1.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#slide2 {
    background-image: url('../images/newVersion/background_slide_2.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#section1{
    background-image: url('../images/newVersion/background-2.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}
#section2{
    background-image: url('../images/newVersion/background_3.png');
    z-index: -1;
    width: 100%;
    height: 100%;
}

.problem {
    position: relative;
}
.problem-left{
    position: absolute;
    left: 15px;
    top: -250px;
    z-index: 2;
}
.problem-left img{
    width: 90%;
    height: auto;
}
.problem-right{
    text-align: right;
    position: absolute;
    right: 84px;
    top: -125px;
    z-index: 2;
}
.problem-right h1{
    font-size: 60px;
    line-height: 1;
}
.problem-right button{
    margin-top: 100px;
    color: white;
}
@media (min-width: 768px) and (max-width: 1264px){
    .problem-left img{
        width: 75%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .problem-right h1 {
        font-size: 30px;
    }
    .problem-right button{
        margin-top: 50px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .problem-left{
        top: 50px;
    }
    .problem-right{
        right: 50px;
        top: -200px;
    }
    .problem-right h1{
        font-size: 30px;
    }
    .problem-right button {
        margin-top: 10px;
        height: auto;
    }
}

.problem-2 {
    position: relative;
}
.problem-2-left{
    position: absolute;
    text-align: center;
    top: -100px;
    padding-left: 100px;
    z-index: 2;
}
.problem-2-left h1 {
    font-size: 70px;
    line-height: 1;
}
.problem-2-left h2 {
    font-size: 94px;
    line-height: 1;
}

.problem-2-right{
    text-align: right;
    position: absolute;
    right: 40px;
    top: -260px;
}
.problem-2-right img{
    width: 90%;
    height: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .problem-2-left{
        top: -200px;
        right: 50px;
    }
    .problem-2-right{
        top: -50px;
    }
    .problem-2-right img{
        width: 105%;
        z-index: -1;
    }
    .problem-2-left h1{
        font-size: 20px;
    }
    .problem-2-left h2{
        font-size: 30px;
    }
    .problem-2-left button {
        margin-top: 10px;
        height: auto;
    }
}


/** Function */

.function {
    position: relative;
    top: 400px;
}
.function2{
    display: none;
}
.function-left-top{
    position: absolute;
    left: 450px;
    top: -80px;
}
.left-top-1{
    position: absolute;
    top: -50px;
    right: 45%;
}

.function-left-bottom{
    position: absolute;
    left: 400px;
    top: 120px;
}
.left-top-2{
    position: absolute;
    top: -20px;
    right: -10px;
}

.function-image-center{
    position: absolute;
    top: -200px;
    z-index: -1;
}
.function-right-top{
    position: absolute;
    right: 560px;
    top: -150px;
}
.left-top-3{
    position: absolute;
    top: -50px;
    right: 25px;
}

.function-right-bottom{
    position: absolute;
    right: 630px;
    top: 160px;
}
.left-top-4{
    position: absolute;
    top: -40px;
    right: -10px;
}


.function-image-center img{
    width: 80%;
}
.function img{
    width: 80%;
}
.function h5{
    font-family: "Arcon Regular";
    font-size: 10px;
    color: #3e5a72;
}
.left-top-button{
    position: absolute;
    top: -40px;
    left: -150px;
}
.left-top-button-mas{
    position: absolute;
    text-align: start;
    top: 40px;
    width: 400px;
}
.function h2{
    font-size: 13px;
    font-family: "Arcon Regular";
}

.left-bottom-button{
    position: absolute;
    top: 35px;
    right: -70px;
}
.right-top-button{
    position: absolute;
    left: 25px;
}
.right-top-button-mas{
    position: absolute;
    width: 400px;
    top: 40px;
}
#div-2{
    display: none;
}
#div-4{
    display: none;
}
#div-6{
    display: none;
}
#div-8{
    display: none;
}

.right-button-bottom{
    position: absolute;
    top: 0;
    right: -100px;
}
.right-button-bottom-mas{
    position: absolute;
    top: 40px;
    width: 400px;
}

.left-bottom-button-mas{
    position: absolute;
    width: 400px;
    top: 40px;
}
.function-title{
    text-align: right;
    position: absolute;
    top: -200px;
    right: 150px;
}
.function-title h1 {
    font-size: 46px;
    line-height: 1;
}
.function-title h2 {
    font-size: 62px;
    line-height: 1;
}
.function p{
    font-family: "Zizou Slab-Regular";
    font-size: 18px;
    color: #3e5a72;
    line-height: 1;
    margin-top: 5px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .function-title{
        top: -270px;
        right: 86px;
    }
    .function-left-top{
        left: 200px;
        top: -81px;
    }
    #div-8{
        width: 138px;
    }
    .function-left-bottom{
        top: 160px;
        left: 245px;
    }
    .function-right-top{
        right: 314px;
        top: -168px;
    }
    .function-title h2{
        font-size: 41px;
        font-weight: bold;
    }
    .function-right-bottom{
        right: 400px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    /**function mobil*/
    .carousel-item{
        vertical-align: top;
    }
    .function1, .function{
        display: none;
    }
    .function2{
        display: block;
    }
    .icon-page{
        text-align: center;
    }
    .function-mobil img {
        width: 50%;
    }
    .title-mobil, .subtitle-mobil{
        text-align: center;
    }
    .function-mobil h1{
        font-size: 51px;
        font-family: "Zizou Slab-Bold_1";
        font-weight: bold;
    }
    .function-mobil h2{
        padding-top: 15px;
        font-size: 25px;
        font-family: "Arcon Regular";
        font-weight: bold;
    }
    .function-mobil h3{
        font-size: 20px;
        font-family: "Arcon Regular";
    }
    .function-mobil span{
        font-size: 55px;
        font-family: "Zizou Slab-Bold_1";
    }
    .function-mobil-top{
        position: relative;
    }
    .function-mobil-title{
        position: absolute;
        right: 354px;
        top: 153px;
    }
    .function-mobil-image{
        position: absolute;
        right: -66px;
        top: 121px;
    }
    .function-mobil-image img{
        width: 50%;
    }
    .icon-page img{
        width: 61%;
    }
    i{
        font-size: 50px;
    }
    .image-center{
        margin-top: 10px;
    }
    .image-center1 img{
        width: 49%;
        height: 20%;
        margin-top: 20px;
    }
    .image-center2 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center3 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center4 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;
    }
    .function-mobil-bottom{
        margin-top: 20%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    /**function mobil*/
    .carousel-item{
        vertical-align: top;
    }
    .function1, .function{
        display: none;
    }
    .function2{
        display: block;
    }
    .icon-page{
        text-align: center;
    }
    .function-mobil img {
        width: 50%;
    }
    .title-mobil, .subtitle-mobil{
        text-align: center;
    }
    .function-mobil h1{
        font-size: 36px;
        font-family: "Zizou Slab-Bold_1";
        font-weight: bold;
    }
    .function-mobil h2{
        padding-top: 15px;
        font-size: 20px;
        font-family: "Arcon Regular";
        font-weight: bold;
    }
    .function-mobil h3{
        font-size: 16px;
        font-family: "Arcon Regular";
    }
    .function-mobil span{
        font-size: 40px;
        font-family: "Zizou Slab-Bold_1";
    }
    .function-mobil-top{
        position: relative;
    }
    .function-mobil-title{
        position: absolute;
        right: 227px;
        top: 134px;
    }
    .function-mobil-image{
        position: absolute;
        width: 60%;
        right: -140px;
        top: 121px;
    }
    .icon-page img{
        width: 61%;
    }
    i{
        font-size: 50px;
    }
    .image-center{
        margin-top: 10px;
    }
    .image-center1 img{
        width: 59%;
        height: 20%;
        margin-top: 20px;
    }
    .image-center2 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center3 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center4 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;
    }
    .function-mobil-bottom{
        margin-top: 25%;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    /**function mobil*/
    .carousel-item{
        vertical-align: top;
    }
    .function1, .function{
        display: none;
    }
    .function2{
        display: block;
    }
    .icon-page{
        text-align: center;
    }
    .function-mobil img {
        width: 50%;
    }
    .title-mobil, .subtitle-mobil{
        text-align: center;
    }
    .function-mobil h1{
        font-size: 30px;
        font-family: "Zizou Slab-Bold_1";
        font-weight: bold;
    }
    .function-mobil h2{
        padding-top: 15px;
        font-size: 20px;
        font-family: "Arcon Regular";
        font-weight: bold;
    }
    .function-mobil h3{
        font-size: 15px;
        font-family: "Arcon Regular";
    }
    .function-mobil span{
        font-size: 30px;
        font-family: "Zizou Slab-Bold_1";
    }
    .function-mobil-top{
        position: relative;
    }
    .function-mobil-title{
        position: absolute;
        right: 130px;
        top: 70px;
    }
    .function-mobil-image{
        position: absolute;
        width: 60%;
        right: -96px;
        top: 49px;
    }
    .image-center{
        margin-top: 10px;
    }
    .image-center1 img{
        width: 40%;
        height: 20%;
        margin-top: 20px;
    }
    .image-center2 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center3 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;

    }
    .image-center4 img{
        width: 30%;
        height: 30%;
        margin-top: 20px;
    }
    .function-mobil-bottom{
        margin-top: 50px;
    }

}





/** doctorPhone **/

.doctorPhone{
    position: relative;
}
.doctorPhone-image{
    position: absolute;
    top: -200px;
}
.doctorPhone-1{
    position: absolute;
    top: -185px;
    right: 1020px;
}
.doctorPhone-1 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-1-content{
    position: absolute;
    top: -150px;
    right: 375px;
}
.doctorPhone-1-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-1-content h3{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
}
.doctorPhone-2 {
    position: absolute;
    top: -60px;
    right: 860px;
}
.doctorPhone-2 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-2-content{
    position: absolute;
    top: -30px;
    right: 300px;
}
.doctorPhone-2-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-2-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}

.doctorPhone-3 {
    position: absolute;
    top: 70px;
    right: 750px;
}
.doctorPhone-3 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-3-content{
    position: absolute;
    top: 100px;
    right: 275px;
}
.doctorPhone-3-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-3-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}

.doctorPhone-4 {
    position: absolute;
    top: 180px;
    right: 600px;
}
.doctorPhone-4 h1 {
    font-family: "Arcon Regular";
    font-size: 104px;
    color: #5897FF;
}
.doctorPhone-4-content{
    position: absolute;
    top: 200px;
    right: 150px;
}
.doctorPhone-4-content h2{
    font-family: "Zizou Slab-Regular";
    font-size: 27px;
    color: #5897FF;
    margin-bottom: 0px;
}
.doctorPhone-4-content h3, span{
    font-family: "Zizou Slab-Regular";
    color: #3e5a72;
    margin-bottom: 0px;
}
.doctorPhone-title{
    position: absolute;
    right: 80px;
    text-align: right;
    top: -250px;
}
.doctorPhone-title h1{
    font-size: 46px;
    margin-right: 20px;
    bottom: 0;
}
.doctorPhone-title h2{
    font-size: 62px;
    top: 0;
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .doctorPhone-image{
        position: absolute;
        top: -158px;
        left: 0;
    }
    .doctorPhone-image img{
        width: 900px;
    }
    .doctorPhone-1{
        position: absolute;
        top: -267px;
        right: 718px;
    }
    .doctorPhone-1 h1 {
        font-family: "Arcon Regular";
        font-size: 104px;
        color: #5897FF;
    }

    .doctorPhone-1-content{
        position: absolute;
        top: -249px;
        right: 147px;
    }
    .doctorPhone-1-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 25px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-1-content h3{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        font-size: 25px;
    }
    .doctorPhone-2 {
        position: absolute;
        top: -135px;
        right: 560px;
    }
    .doctorPhone-2 br{
        display: none;
    }
    .doctorPhone-2 h1 {
        font-family: "Arcon Regular";
        font-size: 104px;
        color: #5897FF;
    }
    .doctorPhone-2-content{
        position: absolute;
        top: -116px;
        right: 57px;
    }
    .doctorPhone-2-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 25px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-2-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 25px;
    }

    .doctorPhone-3 {
        position: absolute;
        top: -14px;
        right: 445px;
    }
    .doctorPhone-3 br{
        display: none;
    }
    .doctorPhone-3 h1 {
        font-family: "Arcon Regular";
        font-size: 100px;
        color: #5897FF;
    }
    .doctorPhone-3-content{
        position: absolute;
        top: 6px;
        right: 106px;
        width: 314px;
    }
    .doctorPhone-3-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 25px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-3-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 25px;
    }

    .doctorPhone-4 {
        position: absolute;
        top: 114px;
        right: 290px;
    }
    .doctorPhone-4 h1 {
        font-family: "Arcon Regular";
        font-size: 104px;
        color: #5897FF;
    }
    .doctorPhone-4-content{
        position: absolute;
        top: 140px;
        right: 17px;
        width: 252px;
    }
    .doctorPhone-4-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 25px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-4-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 25px;
    }
    .doctorPhone-title{
        position: absolute;
        right: 19px;
        text-align: left;
        top: -391px;
    }
    .doctorPhone-title h1{
        font-size: 52px;
        margin-right: 20px;
        bottom: 0;
    }
    .doctorPhone-title span{
        font-size: 62px;
        font-family: "Zizou Slab-Bold_1";
    }
    .doctorPhone-title h2{
        font-size: 52px;
        top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .doctorPhone-image{
        position: absolute;
        top: -158px;
        left: 0;
    }
    .doctorPhone-image img{
        width: 900px;
    }
    .doctorPhone-1{
        position: absolute;
        top: -283px;
        right: 635px;
    }
    .doctorPhone-1 h1 {
        font-family: "Arcon Regular";
        font-size: 100px;
        color: #5897FF;
    }

    .doctorPhone-1-content{
        position: absolute;
        top: -260px;
        right: 163px;
    }
    .doctorPhone-1-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 20px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-1-content h3{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        font-size: 20px;
    }
    .doctorPhone-2 {
        position: absolute;
        top: -162px;
        right: 446px;
    }
    .doctorPhone-2 br{
        display: none;
    }
    .doctorPhone-2 h1 {
        font-family: "Arcon Regular";
        font-size: 100px;
        color: #5897FF;
    }
    .doctorPhone-2-content{
        position: absolute;
        top: -135px;
        right: 52px;
    }
    .doctorPhone-2-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 20px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-2-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 20px;
    }

    .doctorPhone-3 {
        position: absolute;
        top: -45px;
        right: 334px;
    }
    .doctorPhone-3 br{
        display: none;
    }
    .doctorPhone-3 h1 {
        font-family: "Arcon Regular";
        font-size: 100px;
        color: #5897FF;
    }
    .doctorPhone-3-content{
        position: absolute;
        top: -21px;
        right: 106px;
        width: 217px;
    }
    .doctorPhone-3-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 20px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-3-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 20px;
    }

    .doctorPhone-4 {
        position: absolute;
        top: 77px;
        right: 218px;
    }
    .doctorPhone-4 h1 {
        font-family: "Arcon Regular";
        font-size: 100px;
        color: #5897FF;
    }
    .doctorPhone-4-content{
        position: absolute;
        top: 100px;
        right: 42px;
        width: 170px;
    }
    .doctorPhone-4-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 20px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-4-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .doctorPhone-title{
        position: absolute;
        right: 19px;
        text-align: left;
        top: -391px;
    }
    .doctorPhone-title h1{
        font-size: 44px;
        margin-right: 20px;
        bottom: 0;
    }
    .doctorPhone-title span{
        font-size: 51px;
        font-family: "Zizou Slab-Bold_1";
    }
    .doctorPhone-title h2{
        font-size: 52px;
        top: 0;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .doctorPhone-image{
        position: absolute;
        top: -30px;
        left: 0;
    }
    .doctorPhone-image img{
        width: 640px;
    }
    .doctorPhone-1{
        position: absolute;
        top: -226px;
        right: 458px;
    }
    .doctorPhone-1 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }

    .doctorPhone-1-content{
        position: absolute;
        top: -211px;
        right: 111px;
    }
    .doctorPhone-1-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-1-content h3{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        font-size: 15px;
    }
    .doctorPhone-2 {
        position: absolute;
        top: -126px;
        right: 365px;
    }
    .doctorPhone-2 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }
    .doctorPhone-2-content{
        position: absolute;
        top: -108px;
        right: 64px;
    }
    .doctorPhone-2-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-2-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .doctorPhone-3 {
        position: absolute;
        top: -1px;
        right: 283px;
    }
    .doctorPhone-3 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }
    .doctorPhone-3-content{
        position: absolute;
        top: 22px;
        right: 27px;
    }
    .doctorPhone-3-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-3-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .doctorPhone-4 {
        position: absolute;
        top: 79px;
        right: 175px;
    }
    .doctorPhone-4 h1 {
        font-family: "Arcon Regular";
        font-size: 90px;
        color: #5897FF;
    }
    .doctorPhone-4-content{
        position: absolute;
        top: 113px;
        right: 31px;
        width: 140px;
    }
    .doctorPhone-4-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 16px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-4-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 16px;
    }
    .doctorPhone-title{
        position: absolute;
        right: 42px;
        text-align: left;
        top: -340px;
    }
    .doctorPhone-title h1{
        font-size: 36px;
        margin-right: 20px;
        bottom: 0;
    }
    .doctorPhone-title span{
        font-size: 36px;
        font-family: "Zizou Slab-Bold_1";
    }
    .doctorPhone-title h2{
        font-size: 52px;
        top: 0;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .doctorPhone-image{
        position: absolute;
        top: -30px;
        left: 0;
    }
    .doctorPhone-image img{
        width: 640px;
    }
    .doctorPhone-1{
        position: absolute;
        top: -226px;
        right: 458px;
    }
    .doctorPhone-1 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }

    .doctorPhone-1-content{
        position: absolute;
        top: -211px;
        right: 111px;
    }
    .doctorPhone-1-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-1-content h3{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        font-size: 15px;
    }
    .doctorPhone-2 {
        position: absolute;
        top: -126px;
        right: 365px;
    }
    .doctorPhone-2 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }
    .doctorPhone-2-content{
        position: absolute;
        top: -108px;
        right: 64px;
    }
    .doctorPhone-2-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-2-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .doctorPhone-3 {
        position: absolute;
        top: -1px;
        right: 283px;
    }
    .doctorPhone-3 h1 {
        font-family: "Arcon Regular";
        font-size: 70px;
        color: #5897FF;
    }
    .doctorPhone-3-content{
        position: absolute;
        top: 22px;
        right: 27px;
    }
    .doctorPhone-3-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 15px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-3-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .doctorPhone-4 {
        position: absolute;
        top: 79px;
        right: 175px;
    }
    .doctorPhone-4 h1 {
        font-family: "Arcon Regular";
        font-size: 90px;
        color: #5897FF;
    }
    .doctorPhone-4-content{
        position: absolute;
        top: 113px;
        right: 31px;
        width: 140px;
    }
    .doctorPhone-4-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 16px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-4-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 16px;
    }
    .doctorPhone-title{
        position: absolute;
        right: 42px;
        text-align: left;
        top: -340px;
    }
    .doctorPhone-title h1{
        font-size: 36px;
        margin-right: 20px;
        bottom: 0;
    }
    .doctorPhone-title span{
        font-size: 36px;
        font-family: "Zizou Slab-Bold_1";
    }
    .doctorPhone-title h2{
        font-size: 52px;
        top: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .doctorPhone-image{
        position: absolute;
        top: 10px;
        left: 0;
    }
    .doctorPhone-image img{
        width: 385px;
    }
    .doctorPhone-1{
        position: absolute;
        top: -102px;
        right: 300px;
    }
    .doctorPhone-1 h1 {
        font-family: "Arcon Regular";
        font-size: 50px;
        color: #5897FF;
    }

    .doctorPhone-1-content{
        position: absolute;
        top: -90px;
        right: 69px;
    }
    .doctorPhone-1-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 10px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-1-content h3{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        font-size: 10px;
    }
    .doctorPhone-2 {
        position: absolute;
        top: -46px;
        right: 232px;
    }
    .doctorPhone-2 h1 {
        font-family: "Arcon Regular";
        font-size: 50px;
        color: #5897FF;
    }
    .doctorPhone-2-content{
        position: absolute;
        top: -32px;
        right: 34px;
    }
    .doctorPhone-2-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 10px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-2-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 10px;
    }

    .doctorPhone-3 {
        position: absolute;
        top: 16px;
        right: 187px;
    }
    .doctorPhone-3 h1 {
        font-family: "Arcon Regular";
        font-size: 50px;
        color: #5897FF;
    }
    .doctorPhone-3-content{
        position: absolute;
        top: 35px;
        right: 24px;
    }
    .doctorPhone-3-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 10px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-3-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 10px;
    }

    .doctorPhone-4 {
        position: absolute;
        top: 79px;
        right: 125px;
    }
    .doctorPhone-4 h1 {
        font-family: "Arcon Regular";
        font-size: 50px;
        color: #5897FF;
    }
    .doctorPhone-4-content{
        position: absolute;
        top: 91px;
        right: 31px;
        width: 90px;
    }
    .doctorPhone-4-content h2{
        font-family: "Zizou Slab-Regular";
        font-size: 10px;
        color: #5897FF;
        margin-bottom: 0px;
    }
    .doctorPhone-4-content h3, span{
        font-family: "Zizou Slab-Regular";
        color: #3e5a72;
        margin-bottom: 0px;
        font-size: 10px;
    }
    .doctorPhone-title{
        position: absolute;
        right: 80px;
        text-align: left;
        top: -187px;
    }
    .doctorPhone-title h1{
        font-size: 36px;
        margin-right: 20px;
        bottom: 0;
    }
    .doctorPhone-title span{
        font-size: 36px;
        font-family: "Zizou Slab-Bold_1";
    }
    .doctorPhone-title h2{
        font-size: 52px;
        top: 0;
    }
}





/** Contact **/
.contact-info{
    text-align: start;
}
.contact-info h1{
    font-size: 25px;
    font-family: "Arcon Regular";
    color: #FFFFFF;
}
.contact-info h2{
    font-size: 15px;
    font-family: "Arcon Regular";
    color: #FFFFFF;
}
.menu-contact-1{
    text-align: left;
    padding-left: 20%;
}
.menu-contact-2{
    text-align: left;
    padding-left: 20%;
}
.menu-contact-3{
    text-align: left;
    padding-left: 20%;
}




/** Styles **/
h5{
    font-family: "Arcon Regular";
    color: #ffffff;
}






/**
.problem-button{
	padding-top: 5%

}
.problem-button h3{
	font-family: Arcon Regular
}
.problem-second{
    display: flex;
    text-align: center;
    padding-top: 5%;
}

.problem-second-left{
    position: relative;
    text-align: center;
    padding-top: 10%;
    padding-left: 100px;
}
.problem-second-title{

}

.problem-second-title {
    font-size: 80px;
}
.problem-second-title2{
    font-size: 104px;
}
**/







/** Function **/
.function{
	display: flex;
	justify-content: center;
	align-items: center;
}
.function-left{
	padding-top: 18%;
}
.function-right{
	padding-top: 8%;
}
.function-right h1{
	font-size: 79px
}


/** Start Now **/
.request{
    display: flex;
    align-items: center;
    padding-top: 7%;
}
.request-title{
    text-align: center;
}

.input-form{
    border-bottom: 1px solid #3e5a72;
    padding-top: 2%;
}
.input-select{
    margin-top: 4%;
    padding-bottom: 3%;
}
.input-form-problem{
    padding-top: 20px;
}
.input-form-problem select{
	width: auto;
    font-weight: lighter;
}
.problem-phone{
	padding-left: 0px;
	margin-left: 0px;
}
#name,#lastname,#country,#city,#address,#marca,#model,#problem,#dni,#phone,#email{
    color: #08c7da;
    font-size: 24px;
    font-weight: lighter;
}
.btn-send {
	padding-top: 25px;
}
.btn-send h3{
}
.form-control::placeholder{
    color: #08c7da;
}
.request button{
	width: 200px;
    color: #FFFFFF;
}
.request h3{
    color: #FFFFFF;
    font-family: "Arcon Regular";
}

@media (min-width: 768px) and (max-width: 1024px){
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: end;
        padding-right: 10px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: end;
        padding-right: 10px;
    }
}
@media (min-width: 200px) and (max-width: 480px) {
    #name,#lastname,#country,#city,#address,#marca,#model,#problem,#dni,#phone,#email{
        color: #08c7da;
        font-size: 17px;
        font-weight: lighter;
    }
    .request{
        padding-top: 15%
    }
    .request h1{
        font-size: 200%;
    }
    .main-bottom {
        display: none;
    }
    .btn-send{
        align-items: center;
        text-align: end;
        margin-right: 10px;
    }
    .btn-send button{
        height: auto;
    }
    .request img{
        display: none;
    }
    .input-form{
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .input-select{
        margin-top: 0;
        padding-left: 0px;
    }
    .input-select img{
        display: none;
    }
    .city{
        margin-left: 0;
        padding-left: 0px;
    }
    #otherModels{
        width: 160px;
        font-size: 15px;
    }
    #otherModels::placeholder{
        width: 160px;
        font-size: 15px;
    }
    #problem{
        width: 100%;
    }
    #otherProblem{
        width: 100%;
        font-size: 15px;
    }
    #otherProblem::placeholder{
        width: 100%;
        font-size: 15px;
    }
    .request select{
        width: 125px;
    }
    .request textarea{
        font-family: "Arcon Regular";
        color: #00607c;
        padding-left: 10px;
        font-size: 20px;
    }
    .input-form-problem{
        border-bottom: 0px solid #3e5a72;
        padding-left: 0px;
        padding-top: 0;
    }
    .btn-send{
        padding-top: 10px;
    }
    .btn-send button{
        width: 80px;
    }
    .btn-send h3{
        font-size: 15px;
    }
    textarea::placeholder{
        color: #08c7da;
        font-size: 10px;
    }
}


select {
    color: #08c7da;
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    width: 150px;
    text-align: left;
    border: none;
}
select option{
    color: #08c7da;
    font-family: "Arcon Regular";
    font-weight: lighter;
    font-size: 18px;
    width: 80px;
    background-color: transparent;
    border: none;
}
.request option{
    width: 50px;
}
.text-area textarea{
    border: none;
    color: #08c7da;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    border-bottom: 1px solid #3e5a72;
    font-weight: lighter;
}
textarea::placeholder{
    color: #08c7da;
    font-size: 18px;
    font-weight: lighter;
}
.text-area2 textarea{
    border: none;
    color: #08c7da;
    font-size: 20px;
    margin-top: 20px;
    width: 500px;
    border-bottom: 1px solid #3e5a72;
    font-weight: lighter;
}
#icon-cell, #icon-cell2, #icon-dist{
    display: none;
}
.request input{
    border: none;
    color: red;
}


/** Finish Start Now **/


/** Contact **/
.contact-info{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #08c7da;
}
.menu-contact div {
    padding-bottom: 2px;
}
.border-contact {
    border-right: 1px solid #FFFFFF;
    margin-top: 50px;
    height: 80px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .contact-info, .contact-map{
        display: none;
    }
    #section4{
        display: none;
    }
}
.menu-contact-1 div {
    margin-top: 3px;
}




.btn{
    background-color: #08c7da;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
	height: 70px;
    vertical-align: middle;
}
.btn h2{
	color: white;
    font-family: "Arcon Regular";
    font-size: 25px;
}
.btn-details{
    width: 92px;
    height: 27px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #3e5a72;
    background-color: transparent;
    padding-top: 7px;
    cursor: pointer;
}
.contact-map{
    padding-top: 90px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
br {
    margin: 0;
}